.footer {
  width: 100%;
  width: 1024px;
  font-size: 12px;
  padding-top: 100px;
}

.fLists {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.fList {
  list-style: none;
  padding: 0;
}

.lastText {
  margin-top: 40px;
  margin-left: 237px;
}

.fListItem {
  margin-bottom: 10px;
  color: #003580;
  cursor: pointer;
}
.footerAdd {
  margin-left: 123px;
  display: flex;
  gap: 50px;
  margin-top: 35px;
  margin-bottom: 34px;
}
